{% extends 'base.html' %}


{% block title %} Privacy Policy-PrivacyChurch {% endblock title %}
{% block privacypolicyactive %} active {% endblock privacypolicyactive %}
{% block body %}

<div class="container my-3">
  <h5 class="card-header bg-info ">Our Privacy Policy</h5>
  <div class="card-body">
    <h5 class="card-title">Q. What data do you collect and why?</h5>
    <h5>A. We collect data about visits to our websites.</h5>
    <p class="card-text">When you visit our website or service, regardless of whether you have an account or
      not, the website may use cookies, server logs, and other methods to collect the following data:</p>
    <ul>
      <li>What pages you visit,</li>
      <li>What actions you take on our website,</li>
      <li>What browser, operating system, and device you use,</li>
      <li>Search terms you use,</li>
      <!-- <li>Your anonymized IP address: We anonymize the last 3 bytes of your IP, e.g. 192.xxx.xxx.xxx.</li> -->
    </ul>
    <p>We use this data to:</p>
    <ul>
      <li>Optimize websites and services, so that they are quick and easy to use,</li>
      <li>Diagnose and debug technical errors,</li>
      <!-- <li>Defend websites and services from abuse and technical attacks,</li> -->
      <li>Compile statistics on the popularity of a website, page, post, topic, etc., and</li>
      <li>Compile statistics on the kinds of software and computers visitors use.</li>
    </ul>

    <p>For all other inquiries, you can contact us via <a href="https://privacychurch.herokuapp.com/contact">contact page</a>.</p>

  </div>

  {% endblock body %}